<%- include("partials/header.ejs") %>
<body >
    
    <div class="container adminContainer">
        <h1>Board management interface</h1>
        <div class="logout">
            <a href="/logout"><button class="btn btn-link">Logout</button></a>
        </div>
        <form action="/admin" method="post">
            <div class="row">
                


                <% for( let i = posterArray.length - 1 ; i >= 0; i-- ) { %>
                    <% const poster = posterArray[i] %>
                    <div class="column col-2 adminColumn">
                       
                        <div class="card" >
                            
                            <input class="form-check-input" type="checkbox" value="<%= poster.name %>" name="check" aria-label="...">
                            
                            <img src="/public/images/<%= poster.name %>" alt="<%= poster.name %>" class="img-fluid rounded-start" >
                    
                            
                          </div>
                    </div>
                <% } %>

                                <button class="btn  btn-primary adminBtn" type="submit">Delete</button>
                            
            </div>
        </form>
                

        
    </div>

    
           
      
    <%- include("partials/footer.ejs") %>