<%- include("partials/header.ejs") %>
<body >
    
    <div class="container adminContainer">
        <div class="row">
            <div class="col">
                <h1>BOARD MANAGEMENT INTERFACE</h1>
            </div>
        </div>
        
        <div class="logout">
            <a href="/logout"><button class="btn btn-link">Logout</button></a>
        </div>
        <form action="/admin" method="post">
            <div class="row">
                


                <% for( let i = posterArray.length - 1 ; i >= 0; i-- ) { %>
                    <% const poster = posterArray[i] %>
                    <div class=" col-3 cardCol">
                       
                        <div class="admin_card" >
                            
                            <input class="form-check-input" type="checkbox" value="<%= poster.name %>" name="check" aria-label="...">
                            
                            <img src="/public/images/<%= poster.name %>" alt="<%= poster.name %>" class="img-fluid rounded-start" >
                    
                            
                          </div>
                    </div>
                <% } %>
                    <div class="col-12 adminBtnDiv">
                        <button class="btn  btn-primary adminBtn" type="submit">Delete</button>
                    </div>
                                
                            
            </div>
        </form>

        <a href="/reviews">Reviews</a>
                

        
    </div>

    
           
      
    <%- include("partials/footer.ejs") %>