<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-height, initial-scale=1.0">
    <title>Digital Poster Board</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body ">
 
  <main>
      <div class="container-fluid posterContainer d-none d-md-block">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% for (let i = posterArray.length - 1; i >= 0; i -= 3) { %>
              <div class="carousel-item <%= i === posterArray.length - 1 ? 'active' : '' %>" data-bs-interval="50000">
                <div class="row boardRow">
                  <% for (let j = i; j >= Math.max(i - 2, 0); j--) { %>
                    <% const poster = posterArray[j] %>
                    <div class="boardColumn col-12 col-sm-6 col-md-4">
                      <img src="/public/images/<%= poster.name %>" alt="<%= poster.name %>" class="img-fluid boardImage">
                    </div>
                  <% } %>
                </div>
              </div>
            <% } %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>


      <div class="row boardRow d-md-none ">
        <% for( let i = posterArray.length - 1 ; i >= 0; i-- ) { %>
            <% const poster = posterArray[i] %>
            <div class="boardColumn col-md-12 col-lg-4">
                <img src="/public/images/<%= poster.name %>" alt="<%= poster.name %>" class="img-fluid boardImage">
            </div>
        <% } %>
    </div>
  </main>



  <footer class="footer mt-auto bg-dark bg-opacity-75">
    <div class="container">
      <span class="text-white text-light">Designed by CIMS students ©2023</span>
    </div>
  </footer>
 
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
     <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
 


 // Client side
const socket = io();

socket.on('newPoster', (data) => {
  // Create a new poster element
  const newPoster = document.createElement('div');
  newPoster.classList.add( 'boardColumn', 'col-lg-4');
  
  const newImage = document.createElement('img');
  newImage.src = `/public/images/${data}`; 

  newImage.alt = data.posterName;
  newImage.classList.add('img-fluid', 'boardImage');
  
  newPoster.appendChild(newImage);
  

  const board = document.querySelector('.boardRow');
  board.prepend(newPoster); // prepend to add the poster at the beginning
  location.reload()
});

socket.on('posterDeleted', (data) => {
   
  // Find the poster element
  const posters = document.querySelectorAll('.boardColumn');
  
  posters.forEach(poster => {
    console.log(poster.firstChild.nextSibling.alt)
    if (poster.firstChild.nextSibling.alt === data) {  
      // Remove the poster from the board
      poster.remove();
    }
  });
});

</script>

</body>
 
    
</html>